@media (max-width: 790px){
    header{
        flex-direction: column;
        padding-bottom: 50px;
    }
    
    header .logo-thebank{
        padding: 50px;
    }

}

@media (max-width: 650px){
    header .logo-thebank h1{
        font-size: 4rem;
    }
    
    nav{
        flex-direction: column;
        padding: 0;
    }

    nav .menu{
        flex-direction: column;
        font-size: 4rem;
        align-items: center;
    }

    nav .menu li{
        padding: 4rem;
    }

    .btn-cadastro{
        padding: 3rem;
    }
}