@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

html{
    font-size: 62.5%;
}

body {
    background-color: #aeaead;
    font-family: 'Public Sans', sans-serif;
}

header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo-thebank{
    display: flex;
    align-items: center;
    padding: 45px 0 45px 45px;
    font-weight: 800;
}

header .logo-thebank h1{
    font-size: 2rem;
    margin-left: 5px;
}

nav{
    display: flex;
    align-items: center;
    padding-right: 45px;
    font-size: 1.5rem;
}

nav .menu{
    display: flex;
    justify-content: space-evenly;
    font-weight: 400;
}

nav .menu li a{
    padding: 10px 5px;
    margin: 1.5rem;
    transition: 0.3s ease-in-out;
}

nav .menu li a:hover{
    cursor: pointer;
    color: white;
    background-color: #5BC241;
    border-radius: 5px;
}

nav .menu li a:active{
    background-color: #304f27;
}

.btn-cadastro button{
    background-color: #5BC241;
    border: none;
    cursor: pointer;
    padding: 15px 30px;
    color: white;
    border-radius: 10px;
    font-size: 15px;
}