@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;800&display=swap');

body {
    background-color: #aeaead;
    font-family: 'Public Sans', sans-serif;
}

header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo-thebank{
    display: flex;
    align-items: center;
    padding: 50px 0 50px 50px;
    font-weight: 800;
}

nav{
    display: flex;
    align-items: center;
    padding-right: 50px;
}

nav .menu{
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
}

nav .menu li{
    padding: 15px;
    margin: 3px;
}

nav .menu li:hover{
    cursor: pointer;
    color: white;
    background-color: #5BC241;
}

.btn-cadastro{
    background-color: #5BC241;
    border: none;
    cursor: pointer;
    padding: 15px 30px;
    color: white;
    border-radius: 10px;
    font-size: 15px;
}